@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.navbar {
  width: 80%;
  height: 4rem;
  background-color: #FEFE33;
  margin: 0 auto;
  position: sticky;
  top: 14px;
  bottom: 10;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 20rem;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.fa-bars {
  font-size: 1.5rem;
  color: #454545;
  cursor: pointer;
}

.fa-cart-shopping {
  font-size: 1.5rem;
  color: #454545;
  cursor: pointer;
}

.cart-number {
  width: 1.3rem;
  height: 1.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 107px;
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 6rem;
  letter-spacing: 1px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  place-items: center;
}

.product {
  width: 19rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  border-radius: 8px;
  /* box-shadow: #eee 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img-container img{
  width: 100%;
  height: 15rem;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}

.description-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.description-price {
  font-weight: bold;
  color: #0373fc;
}

.btn {
  border: none;
  outline: none;
  width: 80%;
  height: 1.5rem;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: #FEFE33;
}

/*-------------------------- Modal -------------------------*/

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}

.modal-container {
  display: none;
}

/* .modal-container { */
.cart-container {
  padding: 1rem 0;
  width: 30rem;
  background-color: #ffe6e6;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0,07);
  position: fixed;
  top: 30%;
  left: 35%;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cart-item-img {
  width: 6rem;
  border-radius: 8px;
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-desc h4 {
  font-weight: bold;
}

.cart-item-desc h5 {
  color: #7c7c7c;
}

.cart-item-conteoller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 0.5rem;
}

.cart-total-price {
  font-weight: bold;
  color: #0000FF;
}

.btns-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn-cart {
  width: 5rem;
  height: 1.8rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  background-color: #FEFE33;
}

.fa-trash {
  cursor: pointer;
  color: red;
  font-size: 1.2rem;
}
