<div>
    <h1>Authentication & Authorization with passportjs</h1>
    <div>
        <a href="/">Home</a>
        <a href="/register"> Register</a>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
    </div>
</div>