<div>
    <h1>Register</h1>
    <p>
        <%= messages?.error ?? "" %>
    </p>
    <div>
        <form action="/register" method="POST">
            <div>
                <label for="fullname">Fullname</label>
                <input type="text" name="fullname" placeholder="pls enter fullname..." required />
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="pls enter username..." required />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="pls enter password" required />
            </div>
			<button type="submit">Register</button>
        </form>
        <a href="/login">login</a>
        <a href="/">Home</a>
    </div>
</div>
