* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #232323;
}

#app {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 7rem;
}

.title {
  color: #777;
  font-size: 4rem;
}

.number {
  font-size: 5rem;
  color: #eee;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.inc {
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: #4BB543;
  width: 7rem;
  height: 2.1rem;
  cursor: pointer;
}

.reset {
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: #16B7FF;
  width: 7rem;
  height: 2.1rem;
  cursor: pointer;
}

.dec {
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: #DA2B3A;
  width: 7rem;
  height: 2.1rem;
  cursor: pointer;
}

